Node-RED_Predict-Price_app.txt
[{"id":"8201b625.75e33","type":"ui_numeric","z":"9068ca05.caf898","name":"","label":"House size (sq-ft)","group":"6e1051a6.91efb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1900","max":"4000","step":"100","x":290,"y":120,"wires":[["a7b0a8bb.0e0e7"]]},{"id":"f3b0d593.13a128","type":"ui_numeric","z":"9068ca05.caf898","name":"","label":"Num of bedrooms","group":"6e1051a6.91efb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"9","step":1,"x":290,"y":160,"wires":[["b263139e.0a1ba8"]]},{"id":"823d324c.4b9c4","type":"inject","z":"9068ca05.caf898","name":"","topic":"","payload":"2400","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":120,"wires":[["8201b625.75e33"]]},{"id":"c5e88ffb.3292a","type":"inject","z":"9068ca05.caf898","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[["f3b0d593.13a128"]]},{"id":"a7b0a8bb.0e0e7","type":"function","z":"9068ca05.caf898","name":"Set size","func":"flow.set(\"size\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["82337eda.bfde38"]]},{"id":"d629140f.826f5","type":"ui_button","z":"9068ca05.caf898","name":"","group":"6e1051a6.91efb","order":0,"width":0,"height":0,"passthru":false,"label":"Predict","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":260,"wires":[["bda845ac.3714d8"]]},{"id":"82337eda.bfde38","type":"debug","z":"9068ca05.caf898","name":"","active":true,"console":"false","complete":"payload","x":670,"y":120,"wires":[]},{"id":"b263139e.0a1ba8","type":"function","z":"9068ca05.caf898","name":"Set bedrooms","func":"flow.set(\"bedrooms\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["c0fee042.5745c8"]]},{"id":"c0fee042.5745c8","type":"debug","z":"9068ca05.caf898","name":"","active":true,"console":"false","complete":"false","x":670,"y":160,"wires":[]},{"id":"bda845ac.3714d8","type":"function","z":"9068ca05.caf898","name":"Get params","func":"var size = flow.get('size') || 0;\nvar bedrooms = flow.get('bedrooms') || 0;\n\n// Replace with your Watson ML access token string (in bearer format):\nvar ml_token = 'Bearer eyJ...IEw';\n\nmsg.headers = {'Content-Type': 'application/json', 'Authorization': ml_token};\nmsg.payload = {'fields': ['SquareFeet','Bedrooms'], 'values': [[size, bedrooms]]}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["72e0db6b.738cf4"]]},{"id":"dba9d521.53ec88","type":"debug","z":"9068ca05.caf898","name":"","active":true,"console":"false","complete":"payload","x":830,"y":320,"wires":[]},{"id":"72e0db6b.738cf4","type":"http request","z":"9068ca05.caf898","name":"","method":"POST","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/wml_instances/ce16a175-2a90-4725-b08a-ded2dd5fbee9/published_models/3989a65c-c3bb-4012-aeb4-91667804cbe9/deployments/31b99366-7ce9-466d-8e0b-72be805f8931/online","tls":"","x":630,"y":260,"wires":[["6498a5bc.dcd884","38207b7b.fe155c"]]},{"id":"e8ce8d35.f288c","type":"comment","z":"9068ca05.caf898","name":"Set initial values","info":"Initially:\nHouse size: 2400 sq-foot\nBedrooms:   3","x":120,"y":80,"wires":[]},{"id":"b0146cb3.6df74","type":"comment","z":"9068ca05.caf898","name":"Store to flow values","info":"","x":490,"y":80,"wires":[]},{"id":"6498a5bc.dcd884","type":"function","z":"9068ca05.caf898","name":"Predicted price","func":"msg.payload = msg.payload.values[0][3];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["b514046f.c88068","dba9d521.53ec88"]]},{"id":"38207b7b.fe155c","type":"debug","z":"9068ca05.caf898","name":"","active":true,"console":"false","complete":"false","x":830,"y":260,"wires":[]},{"id":"b514046f.c88068","type":"ui_gauge","z":"9068ca05.caf898","name":"","group":"6e1051a6.91efb","order":0,"width":0,"height":0,"gtype":"gage","title":"Predicted price","label":"Predicted price","format":"{{value | currency:'$':2}}","min":"50000","max":"500000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":400,"wires":[]},{"id":"43dd0005.1be6e8","type":"comment","z":"9068ca05.caf898","name":"Display predicted price","info":"","x":760,"y":440,"wires":[]},{"id":"d76ec21b.6ad858","type":"comment","z":"9068ca05.caf898","name":"UPDATE WATSON WL TOKEN AND HTTP URL !!","info":"","x":540,"y":220,"wires":[]},{"id":"6e1051a6.91efb","type":"ui_group","z":"","name":"Price prediction","tab":"3667a745.df041","disp":true,"width":"6"},{"id":"3667a745.df041","type":"ui_tab","z":"","name":"Predict House Prices","icon":"dashboard"}]